// Font Family
$montserrat: 'Montserrat', sans-serif;
$odibee-sans: 'Odibee Sans', cursive;

// Color Palette
// Main Colors
$keppel : #00B99D;
$orange-red-crayola : #FF5945;
$mikado-yellow : #FFC814;
$cedar-chest : #C2533C;
$cerulean-crayola : #00ACE2;
$light-slate-gray : #7D8F91;
$yellow-green : #7EC525;
$african-violet : #AE7BBA;
$white : #FFFFFF;
$black : #000000;
// Secondary Colors
$gray : #CCCCCC;
$gray-light : #EEEEEE;
$gray-dark : #999999;
$gray-darker : #666666;
$gray-darkest : #333333;
$gray-lighter : #F5F5F5;