#login-register {
    background-image: url('/assets/images/background/login-register.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-logo {
    width: 80px;
}